<!doctype html>

<html>

<head>
	<title>Two-way databinding examples</title>
	<script src="./jquery.js"></script>
	<script src="./third-party-jquery-plugin.js"></script>
	<script src="./angular.js"></script>
	<script src="./app.js"></script>
	<link rel="stylesheet" type="text/css" href="./styles.css">

</head>

<body ng-app="myApp">
	<div ng-controller="MyController">
		<h1>Various ways of accomplishing two-way databinding in AngularJS 1</h1>
		<h2>(our goal is to have the controller's model updated before the controller's onChange function is invoked)</h2>

		<h3>Binding to a primitive (number)</h3>

		<div class="container">
			Controller value: {{ countPrimitive }}
		</div>

		<div class="container">
			<div>ng-model binding to a primitive</div>
			<div ng-model-binding-to-primitive ng-model="countPrimitive" ng-change="onChange()"></div>
		</div>

		<div class="container">
			<div>ng-model binding to a primitive (simulating a digest-in-progress and avoiding an error)</div>
			<div ng-model-binding-to-primitive-avoiding-digest-error ng-model="countPrimitive" ng-change="onChange()"></div>
		</div>

		<div class="container">
			<div>scope "=" binding to a primitive</div>
			<div equals-binding-to-primitive model="countPrimitive" on-change="onChange()"></div>
		</div>

		<div class="container">
			<div>scope "=" binding to a primitive (simulating a digest-in-progress and avoiding an error)</div>
			<div equals-binding-to-primitive-avoiding-digest-error model="countPrimitive" on-change="onChange()"></div>
		</div>

		<h3>Binding to an object (updating an entire object)</h3>

		<div class="container">
			Controller value: {{ countObjectToBeEntirelyReplaced }}
		</div>

		<div class="container">
			<div>ng-model binding to an object (updating entire object) (simulating a digest-in-progress and avoiding an error)</div>
			<div ng-model-binding-to-object-avoiding-digest-error ng-model="countObjectToBeEntirelyReplaced" ng-change="onChange()"></div>
		</div>

		<h3>Binding to an object (updating an object property)</h3>

		<div class="container">
			Controller value: {{ countObjectToHavePropertyUpdated }}
		</div>

		<div class="container">
			<div>scope "=" binding to an object (updating an object property)</div>
			<div equals-binding-to-object-updating-property model="countObjectToHavePropertyUpdated" on-change="onChange()"></div>
		</div>
	</div>
</body>

</html>